<div class="container">

    <div id="header">
        <div id="navtext">
            <p>FunPic - Share your pictures</p>
        </div>
        <div id="menu">
            <ul id="navbar">
                <li>Inicio</li>
                <li>Subir Foto</li>
                <li>Contacto</li>
            </ul>
        </div>
    </div>

    <div id="wrapper">
        <div id="content">
            <div id="image"><img src="images/pic.jpg"></div>
        </div>
        <div id="content">
            <div id="image"><img src="images/pic.jpg"></div>
        </div>
        <div id="content">
            <div id="image"><img src="images/pic.jpg"></div>
        </div>
        <div id="content">
            <div id="image"><img src="images/pic.jpg"></div>
        </div>
    </div>

</div>
<div id="footer">&copyFun Pic 2015 - Costa Rica</div>
